<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
  
    <link href="../css/modern.css" rel="stylesheet">
    <link href="../css/modern-responsive.css" rel="stylesheet">
    <link href="../css/site.css" rel="stylesheet" type="text/css">
    <link href="../js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">

    <title>WrCore</title>
</head>
<body class="modern-ui" onload="prettyPrint()">

<div class="page">

</div>
    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Layout<small><a href="#">Root</a> &rsaquo; <a href="#">Child</a> </small></h1>
                <a href="/" class="back-button big page-back"></a> 
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content">
                <!--div class="clearfix"-->
                    <div class="tile">
                        <div class="tile-content" >
                            sdfds dsf sfsd
                        </div>
                    </div>
                    <div class="tile double"></div>
                    <div class="tile selected"></div>
                    <div class="tile bg-color-orange"></div>
                    
                    <div class="tile"></div>
                    <div class="tile double"></div>
                    <div class="tile selected"></div>
                    <div class="tile bg-color-orange"></div>
                <!--/div-->

               
            </div>
        </div>
    </div>

    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    2013, WR Core &copy; by <a href="mailto:victor.vorontsov86@gmail.com">Victor Vorontsov</a>
                </span>
            </div>
        </div>
    </div>

    

    </body>
</html>