<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
"
default-lazy-init="true">

    <context:annotation-config/>
    
    <import resource="wrcore/coreConfig.xml" />
    <import resource="wrcore/metaDataConfig.xml" />
    <import resource="wrcore/webConfig.xml" />

    
    <!-- modify temporary page -->
    <bean id="actionManager" class="org.wr.face.actions.ActionManager">
        <property name="actionName" value="action"/>
        <property name="page2actions">
            <map key-type="java.lang.String" value-type="java.util.Map">
                <entry key="/WebFace01/modify.jsp">
                    <map key-type="java.lang.String" value-type="org.wr.face.actions.WebAction">
                        <entry key="submit">
                            <bean class="org.wr.face.actions.modify.SubmitAction">
                                <property name="executor" ref="transactionExecutor"/>
                            </bean>
                        </entry>
                        <entry key="find">
                            <bean class="org.wr.face.actions.modify.FindNodeAction">
                                <property name="executor" ref="transactionExecutor"/>
                            </bean>
                        </entry>
                        <entry key="delete">
                            <bean class="org.wr.face.actions.modify.DeleteAction">
                                <property name="executor" ref="transactionExecutor"/>
                            </bean>
                        </entry>
                    </map>
                </entry>
            </map>
        </property>
        <property name="requestParsersManager" ref="requestParsersManager"/>
    </bean>

    <bean id="requestParsersManager" class="org.wr.face.request.RequestParsersManager">
        <property name="page2Parsers">
            <map key-type="java.lang.String" value-type="java.util.Map">
                <entry key="/WebFace01/modify.jsp">
                    <map key-type="java.lang.String" value-type="org.wr.face.request.WebRequestParser">
                        <entry key="id">
                            <bean class="org.wr.face.request.parsers.modify.NodeIdParser"/>
                        </entry>
                        <entry key="action">
                            <bean class="org.wr.face.request.parsers.modify.ActionParser"/>
                        </entry>
                        <entry key="params">
                            <bean class="org.wr.face.request.parsers.modify.NodeParameterParser"/>
                        </entry>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

</beans>
